<launch>

<arg name="valgrind" default="false" />
<arg name="debug" default="false" />

<rosparam>
  ss:
    A:
    - [0, 1]
    - [0, 0]
    B:
    - [0]
    - [1]
    C:
    - [1, 0]
    - [0, 1]
    D:
    - [0]
    - [0]

  filter:
    frequency: 5 # [Hz]
    sampling_period: 0.01 # [s]

  ctrl1: {type: "proportional", proportional_gain: 5.0}
  ctrl2: {type: "PI", proportional_gain: 1, integral_gain: 1, sample_period: 8.0e-3}
</rosparam>

<group if="$(arg valgrind)">
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix"
      value="valgrind -v --track-origins=yes --tool=memcheck --leak-check=full --show-reachable=yes  --num-callers=20 --track-fds=yes  --log-file=/home/feymann/a.txt" />
  <test launch-prefix="$(arg launch_prefix)" 
            pkg="state_space_ros"
            type="test_controllers"
            test-name="state_space_ros_test_controllers">
  </test>
</group>

<group unless="$(arg valgrind)">
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />
  <test launch-prefix="$(arg launch_prefix)" 
            pkg="state_space_ros"
            type="state_space_ros_test_controllers"
            test-name="test_controllers">
  </test>
</group>


</launch>
